.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/build/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/app.js
/public/css/app.css
/public/fonts
/public/mix-manifest.json
/migrations
/truffle.js
/truffle-config.js